/******************************************************************************
BLOG SPECIFIC STYLES START HERE 
******************************************************************************/
#canvas {
	background:#fff;
}
.box_image {
	padding:10px; width:206px;
}
.box_image_map {
	padding:10px; width:206px; height:195px;
	background-image:url(images/rightcol_products.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	background-color:transparent;
	position:relative;
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}
.box_image_map_crosslink {
	padding:10px; width:206px; height:195px;
	background-image:url(images/rightcol_crosslink.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	background-color:transparent;
	position:relative;
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}
.box_image_map_mdsm {
	padding:10px; width:206px; height:195px;
	background-image:url(images/rightcol_msdm.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	background-color:transparent;
	position:relative;
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}
.box_image_map_pockettoken {
	padding:10px; width:206px; height:195px;
	background-image:url(images/rightcol_pockettoken.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	background-color:transparent;
	position:relative;
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}

.box_image_map .top, 
.box_image_map_pockettoken .top, 
.box_image_map_crosslink .top, 
.box_image_map_mdsm .top   	
	{position:absolute; top:20px; 	right:70px; 	background:transparent; 	width:100px; 	height:30px;}
.box_image_map .bottom, 
.box_image_map_pockettoken .bottom, 
.box_image_map_crosslink .bottom, 
.box_image_map_mdsm .bottom  	
{position:absolute; top:145px; 	right:70px; 	background:transparent; 	width:100px; 	height:30px;}

.box_image_map .right, 
.box_image_map_pockettoken .right, 
.box_image_map_crosslink .right, 
.box_image_map_mdsm .right 	
	{position:absolute; top:50px; 	right:40px;		background:transparent; 	width:30px; 	height:100px; }
.box_image_map .left, 
.box_image_map_pockettoken .left, 
.box_image_map_crosslink .left, 
.box_image_map_mdsm .left
	{position:absolute; top:50px; 	right:170px;	background:transparent; 	width:30px; 	height:100px; }
.box_image_map .middle, 
.box_image_map_pockettoken .middle, 
.box_image_map_crosslink .middle, 
.box_image_map_mdsm .middle
	{position:absolute; top:68px; 	right:93px; 	background:transparent; 	width:55px; 	height:55px;}
